In [1]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd

In [2]:
heart_disease = pd.read_csv("D:\excel\heart-disease.csv")

In [3]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
heart_disease.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [5]:
x = heart_disease.drop("target", axis=1)

In [6]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [8]:
x_train , x_test , y_train , y_test  =train_test_split( x , y ,test_size=0.2)

In [9]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
77,59,1,1,140,221,0,1,164,1,0.0,2,0,2
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2
95,53,1,0,142,226,0,0,111,1,0.0,2,0,3
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3
187,54,1,0,124,266,0,0,109,1,2.2,1,1,3
268,54,1,0,122,286,0,0,116,1,3.2,1,2,2
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
253,67,1,0,100,299,0,0,125,1,0.9,1,2,2

In [10]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3
94,45,0,1,112,160,0,1,138,0,0.0,1,0,2
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
79,58,1,2,105,240,0,0,154,1,0.6,1,0,3
226,62,1,1,120,281,0,0,103,0,1.4,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
171,48,1,1,110,229,0,1,168,0,1.0,0,0,3
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2

In [11]:
y_train

77     1
59     1
95     1
104    1
213    0
      ..
236    0
187    0
268    0
122    1
253    0
Name: target, Length: 242, dtype: int64

In [12]:
y_test

220    0
94     1
142    1
79     1
226    0
      ..
202    0
48     1
149    1
171    0
147    1
Name: target, Length: 61, dtype: int64

In [13]:
model = RandomForestClassifier()

In [14]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [15]:
y_prediction = model.predict(x_test)
y_prediction

array([0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1], dtype=int64)

In [16]:
accuracy_score(y_prediction,y_test)

0.819672131147541